################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RDFSharp/obj/Debug/RDFSharp.csprojAssemblyReference.cache
/RDFSharp/obj/Debug/RDFSharp.csproj.CoreCompileInputs.cache
/.vs/RDFSharp/v15/.suo
/.vs/RDFSharp/v15/Server/sqlite3/storage.ide-wal
/.vs/RDFSharp/v15/Server/sqlite3/storage.ide-shm
/.vs/RDFSharp/v15/Server/sqlite3/storage.ide
/.vs/RDFSharp/v15/Server/sqlite3/db.lock
/.vs/RDFSharp/DesignTimeBuild/.dtbcache
/RDFSharp/bin/Debug
/RDFSharp/obj/Debug
/XUnitTestProject1/bin/Debug/netcoreapp2.0
/XUnitTestProject1/obj
/XunitFramework
/.axoCover/runs
/packages
/XunitFrameworkmanual/bin/Debug
/XunitFrameworkmanual/obj/Debug
/XUnitFrameworkTest
/XUnitNFTest
/XUnitTestProject2
