################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RDFSharp/obj/Debug/RDFSharp.csprojAssemblyReference.cache
